<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recuperar Contraseña</title>
</head>

<body bgcolor="#0f172a">

<center>

    <br><br><br>

    <div style="
        background:#1e293b;
        width:500px;
        padding:40px;
        border-radius:15px;
    ">

        <h1 style="color:white; font-size:40px;">
            Recuperar Contraseña
        </h1>

        <form method="POST">

            <input type="email" name="correo"
            placeholder="Ingresa tu correo"

            style="
                width:400px;
                height:50px;
                font-size:20px;
                border-radius:10px;
                border:none;
                padding-left:15px;
            " required>

            <br><br>

            <button type="submit"

            style="
                width:420px;
                height:55px;
                font-size:22px;
                background:#2563eb;
                color:white;
                border:none;
                border-radius:10px;
                cursor:pointer;
            ">
                Enviar Código
            </button>

        </form>

    </div>

</center>

</body>
</html>